@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.topbar {
    margin: 0;
    background-color: #FF6600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}

.topbar img {
    height: 60px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu a {
    margin: 0 10px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.menu a:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.contenedor-principal {
  display: flex;
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  gap: 2rem;
  width: 100%;
}


.boton-menu {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.boton-menu.activo {
  background-color: #00d1b2;
  padding: 0.5rem;
  border-radius: 8px;
}

.contenido {
  flex: 1;
  padding: 2.5rem;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.barra-busqueda {
  padding: 0.5rem;
  width: 350px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.usuario {
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 250px;
    height: 80px;
    background-color: #FF6600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    text-decoration: none;
}

/* Efecto hover */
.usuario:hover {
    background-color: #e65c00;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.3);
    transform: scale(1.05);
}


.tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.tarjeta {
  padding: 1.5rem;
  border-radius: 12px;
  color: white;
  position: relative;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.tarjeta:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.tarjeta li {
  margin-left: 1rem;
  margin-bottom: 0.3rem;
  list-style-type: square;
}

.mediana {
  grid-column: span 1;
}

.pequeña {
  grid-column: span 1;
}

.grande {
  grid-column: span 2;
}
.larga{
  grid-column: span 5;
  grid-row: span 8;
}

.generales {
  grid-column: span 2;
  grid-row: span 2;
}

.fondo-imagen {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2SkosuBWRffVnvcbITRbIatlTwyINP4IEeQ&s');
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
}
.fondo-imagen2 {
  background-image: url('https://blog.euncet.com/wp-content/uploads/2022/03/image1-2.png');
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
}
.fondo-naranja {
  background-color: #FF6600;
}

.fondo-vino {
  background-color: #6B0000;
}

.fondo-blanco {
  background-color: #FFFFFF;
  color: #000;
}

.fondo-beige {
  background-color: #FFF9F4;
  color: #000;
}

.fondo-negro {
  background-color: #000;
  color: #FFF;
}

.etiqueta {
  font-size: 0.75rem;
  background-color: rgba(0,0,0,0.5);
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.barra-progreso {
  background-color: rgba(255,255,255,0.3);
  border-radius: 10px;
  overflow: hidden;
  height: 10px;
  margin-top: 0.5rem;
}

.progreso {
  background-color: white;
  height: 100%;
  width: 0%;
  transition: width 0.5s;
}

footer {
  text-align: center;
  background-color: #2c2c2c;
  color: #FFF9F4;
  padding: 20px;
  font-size: 1rem;
  margin-top: auto;
  width: 100%;
}